@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar (optional aesthetic) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
